<% groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.name %></td>
    <td><%= group.created_at.strftime('%Y-%m-%d %H:%M') %></td>
    <td><%= group.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
    <td class="actions">
      <%= link_to t('actions.edit'), edit_group_path(group) %>
      <%= link_to t('actions.delete'), group_path(group), method: 'DELETE', remote: true, confirm: t('actions.confirmation') %>
    </td>
  </tr>
<% end %>
